server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
#        native:
#          search-locations: file://${user.home}//Users/janek/documents/study/inflearn/git-local-repo
        git:
          uri: https://github.com/EunhoMoon/commerce-config.git
#          username:
#          password:
#          uri: file:///Users/janek/documents/study/inflearn/git-local-repo
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: health, busrefresh
