server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/EunhoMoon/commerce-config.git
#          username:
#          password:
#          uri: file:///Users/janek/documents/study/inflearn/git-local-repo